$foreground-color: var(--foreground);
$background-color: var(--background);
$primary-color: var(--primary);
$primary-foreground: var(--primary-foreground);
$secondary-color: var(--secondary);
$secondary-foreground: var(--secondary-foreground);
$border-color: var(--border);
$muted-color: var(--muted);
$muted-foreground: var(--muted-foreground);
$card: var(--card);
$card-foreground: var(--card-foreground);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$box-shadow: var(--shadow);
