@use "../abstracts" as *;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: $foreground-color;
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
  main {
    display: flex;
    flex: 1;
    gap: 1rem;
  }
  > * {
    box-sizing: border-box;
    @extend %w-full;
  }
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
  &.btn {
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $secondary-color;
    }
  }
}
main {
  background-color: $background-color;
}
select {
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

ul {
  margin: 0;
}
.container {
  max-width: $breakpoint-xl;
}
.flex {
  @extend %flex;
}
.flex-col {
  @extend %flex-col;
}
.gap-1 {
  @extend %gap-1;
}
.gap-4 {
  @extend %gap-4;
}
.items-center {
  @extend %items-center;
}
.justify-center {
  @extend %justify-center;
}
.w-full {
  @extend %w-full;
}
.ml-auto {
  @extend %ml-auto;
}
.mr-auto {
  @extend %mr-auto;
}
.mx-auto {
  @extend %mx-auto;
}
.px-4 {
  @extend %px-4;
}
.py-4 {
  @extend %py-4;
}
.text-sm {
  @extend %text-sm;
}
.text-muted {
  @extend %text-muted;
}
.relative {
  @extend %relative;
}
.absolute {
  @extend %absolute;
}

@media (min-width: $breakpoint-md) {
  .container {
    max-width: $breakpoint-md;
  }
  main {
    &.px-4 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .container {
    max-width: $breakpoint-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    max-width: $breakpoint-xl;
  }
}

.img-responsive {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; // modern responsive way
  img {
    object-fit: cover;
    object-position: center;
  }
}
